APP_NAME=Dost
APP_ENV=production
APP_DEBUG=false

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

DB_CONNECTION=sqlite
QUEUE_CONNECTION=database
BROADCAST_CONNECTION=log
SESSION_DRIVER=database
CACHE_STORE=database
FILESYSTEM_DISK=local

TELESCOPE_ENABLED=false
PULSE_ENABLED=false

NATIVEPHP_APP_ID=com.dost.app
NATIVEPHP_APP_VERSION=1.0.0
NATIVEPHP_APP_VERSION_CODE=1
NATIVEPHP_START_URL=/
NATIVEPHP_RUNTIME_MODE=classic
NATIVEPHP_ANDROID_COMPILE_SDK=36
NATIVEPHP_ANDROID_MIN_SDK=33
NATIVEPHP_ANDROID_TARGET_SDK=36
NATIVEPHP_ANDROID_SDK_LOCATION=
NATIVEPHP_GRADLE_PATH=

